@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 56% 88%; /* #f3e3d0 */
    --foreground: 208 38% 25%; /* Darker blue for readability */
    --muted: 32 24% 76%; /* #d2c4b4 */
    --muted-foreground: 208 38% 40%;
    --border: 32 24% 76%; /* #d2c4b4 */
    --card: 198 44% 76%; /* #aacddc */
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
